
* {
  padding: 0;
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgba(255, 180, 45, 0.6);
  display: flex;
  justify-content: center;
}

.todo {
  width: 80vw;
  padding: 3em;
  margin: 3em;
}

.todo__container {
  background-color: white;
  border-radius: 10px;
  margin: 1em 0;
  padding: 2em;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.1);
}

.total-cost {
  float: right;
  padding: 0 5px;
}